.root {
  position: relative;
  height: 100%;
  padding-top: 192px;

  @apply relative h-full flex flex-col items-center pb-[112px];
  .bg {
    @apply w-full h-full object-cover relative;
  }
  .motto {
    @apply relative text-white text-[40px]  leading-[36px] text-center font-black uppercase;
  }
  .subheading {
    @apply text-brown-300 italic text-base  lg:text-lg relative mt-2 mb-4 text-center;
  }
  @media (min-width: 1024px) {
    .motto {
      @apply text-[56px]  leading-[50px];
    }
    .subheading {
      @apply text-lg;
    }
  }
  @media (min-width: 1280px) {
    padding-top: 244px;

    .bg {
      max-height: 850px;
    }
    .motto {
      @apply text-[64px]  leading-[55px];
    }
    .subheading {
      @apply text-lg;
    }
  }
}
